@font-face {
    font-family: 'Helios';
    src: local('Helios Regular'), local('Helios-Regular'),
        url('~/assets/fonts/heliosc/HeliosC.woff2') format('woff2'),
        url('~/assets/fonts/heliosc/HeliosC.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
